.carousel-item img {
    width: 100% !important;
    height: 500px;
    /* object-fit: scale-down; */
}

.s-m{
    margin: 100px 0;
}
.post-img{
    height: 300px;
    width: 100%;
    border-radius: 7px;
}