{% extends 'base.html' %}
{% load static %}



{% block content %}
<section id="getInTouch" class="getInTouch s-m">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Get In Touch</li>
            </ol>
        </nav>
        <div class="row shadow p-3">
            <h1 class="text-center mb-5">Get In Touch</h1>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="{% static 'images/contact.jpg' %}" class="img-fluid w-75" alt="Contact">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">First name<span class="text-danger">*</span></label>
                                <!-- <input type="text" class="form-control" name="first_name" id="exampleFormControlInput1"
                                    placeholder="First name"> -->
                                    {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleFormControlInput2" class="form-label">Last name<span class="text-danger">*</span></label>
                                <!-- <input type="text" class="form-control" name="last_name" id="exampleFormControlInput2"
                                    placeholder="Last name"> -->
                                    {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label">Email address<span class="text-danger">*</span></label>
                        <!-- <input type="email" class="form-control" name="email" id="exampleFormControlInput3"
                            placeholder="Email address"> -->
                            {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message<span class="text-danger">*</span></label>
                        <!-- <textarea class="form-control" name="message" id="exampleFormControlTextarea1" placeholder="Write your message here ..."
                            rows="7"></textarea> -->
                            {{ form.message }}
                    </div>
                    <button type="submit" class="btn btn-primary px-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}