{% extends 'base.html' %}
{% load static %}



{% block content %}
<section id="resume" class="resume s-m">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
        <div class="row shadow p-3">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <img src="{% static 'images/about.jpg' %}" class="img-fluid aboutImg" alt="Sadiqul Islam">
                <div class="img-content">
                    <h3>Sadiqul Islam</h3>
                    <h6>Software Engineer</h6>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="row">
                    <div class="col">
                        <h6>Address: Mithapukur, Rangpur.</h6>
                        <h6>E-mail: swesadiqul@gmail.com</h6>
                    </div>
                    <div class="col">
                        <h6>Phone: +8801606711482</h6>
                        <h6>Links: <a href="#" class="me-3">GitHub</a><a href="#">LinkedIn</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                <h4>Career Objective</h4>
                <p>Analytical-minded and creative team player with a strong background in designing, planning, and maintenance of software programs, desirous of the role of Software Engineer at DC Inc. to hone my technical skills and expertise along with designing creative software and products as per the clients’ needs and enhance the reputation of your organisation.</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                <h4>Working Experience</h4>
                <div class="row">
                    <div class="col-6 mb-4">
                        <h6>Customer Service Representative</h6>
                        <i>Computer Company, LLC, Scottsdale, AZ</i>
                        <p>2016–Present</p>
                        <ul>
                            <li>Supervised customer service training program that grew customer engagement by 35%</li>
                            <li>Implemented new office layout that enhanced communication between staff</li>
                            <li>Won Employee of the Year twice (2017 and 2019)</li>
                            <li>Earned highest performance ratings across 7 consecutive months for resolving customer problems</li>
                            <li>Developed more efficient filing system for customer records</li>
                        </ul>
                    </div>
                    <div class="col-6 mb-4">
                        <h6>Customer Service Representative</h6>
                        <i>Computer Company, LLC, Scottsdale, AZ</i>
                        <p>2016–Present</p>
                        <ul>
                            <li>Supervised customer service training program that grew customer engagement by 35%</li>
                            <li>Implemented new office layout that enhanced communication between staff</li>
                            <li>Won Employee of the Year twice (2017 and 2019)</li>
                            <li>Earned highest performance ratings across 7 consecutive months for resolving customer problems</li>
                            <li>Developed more efficient filing system for customer records</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>Customer Service Representative</h6>
                        <i>Computer Company, LLC, Scottsdale, AZ</i>
                        <p>2016–Present</p>
                        <ul>
                            <li>Supervised customer service training program that grew customer engagement by 35%</li>
                            <li>Implemented new office layout that enhanced communication between staff</li>
                            <li>Won Employee of the Year twice (2017 and 2019)</li>
                            <li>Earned highest performance ratings across 7 consecutive months for resolving customer problems</li>
                            <li>Developed more efficient filing system for customer records</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>Teacher</h6>
                        <i>Children’s Middle School, Billings, MT</i>
                        <p>2011–2018</p>
                        <ul>
                            <li>Piloted reading initiative that expanded the average student’s vocabulary by 140 words</li>
                            <li>Coordinated run–swim–bike events that raised $76,000 for local causes</li>
                            <li>Established after-school gaming initiative that cut students’ screen time by 40%</li>
                            <li>Introduced SMART boards as Chair of Technology Committee</li>
                            <li>Led class to win Best Behaved awards 7% more often than colleagues</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <h4>Skills</h4>
                <div class="row">
                    <div class="col-6 shadow p-3">
                        <h6>1. Programming</h6>
                        <p>Programming skills are valuable for working with websites, internal networks and mobile apps. Feature your knowledge of specific programming languages and other related skills in your resume skills section, such as:</p>
                        <ul>
                            <li>Java</li>
                            <li>HTML5</li>
                            <li>Cloud computing</li>
                            <li>Web development</li>
                            <li>Object-oriented programming (OOP)</li>
                        </ul>
                    </div>
                    <div class="col-6 shadow p-3">
                        <h6>2. Cybersecurity</h6>
                        <p>Nothing is worse for a business than stolen data, and cybersecurity professionals are the first vital line of defense against hackers. In addition to cybersecurity certifications, other highly sought-after computer skills for resumes include:</p>
                        <ul>
                            <li>Knowledge of security across different platforms</li>
                            <li>Computer forensics skills
                                Risk identification and management</li>
                            <li>Scripting</li>
                            <li>DevOps</li>
                        </ul>
                    </div>
                    <div class="col-6 shadow p-3">
                        <h6>3. Data analysis</h6>
                        <p>The world runs on data and the ability to analyze it, draw intelligent conclusions, and use your findings to improve business operations. Essential related resume skills include:</p>
                        <ul>
                            <li>Data visualization</li>
                            <li>Programming</li>
                            <li>Skills statistics</li>
                            <li>Knowledge programming tools</li>
                            <li>MATLAB</li>
                        </ul>
                    </div>
                    <div class="col-6 shadow p-3">
                        <h6>4. Teamwork </h6>
                        <p>Even if you’re working remotely, collaborating with and supporting other team members remains an essential soft skill for your resume. Ensure you describe yourself as a team member by providing examples of how you’ve successfully worked alongside others and contributed to the successful operations of your team.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <h4>Education</h4>
                <div class="row">
                    <div class="col-6">
                        <h6>University of Kentucky | Lexington, KY</h6>
                        <i>B.A. in Accounting candidate | Diploma expected 2019</i> <br>
                        <i>Prominent Coursework: Intro to Risk Management, Actuary Sciences</i> <br>
                        <i>Honors: Member, Phi Mu Epsilon</i> <br>
                        <i>Johnson Academic Achievement Scholarship</i> <br>
                    </div>
                    <div class="col-6">
                        <h6>Waters High School | Waters, VA</h6>
                        <i>Expected Diploma, 2019 (GPA: 3.6)</i> <br>
                        <i>National Honor Society, Vice President</i> <br>
                        <i>Marching Band, Section Leader</i> <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <h4>Hobbies</h4>
                <div class="row">
                    <div class="col-6 shadow p-3">
                        <h6>1. Volunteering and community involvement</h6>
                        <p>There’s a reason we’re mentioning volunteering first—data shows that 82% of managers would rather hire someone with volunteering experience. Volunteering shows a lot of initiative and strong morals. It also teaches organizational and leadership skills.</p>
                    </div>
                    <div class="col-6 shadow p-3">
                        <h6>2. Writing</h6>
                        <p>Communication is the heart of every organisation. Writing novels or publishing scientific papers give a clear representation of your written communication skills.</p>
                    </div>
                    <div class="col-6 shadow p-3">
                        <h6>3. Learning languages</h6>
                        <p>Speaking English might not be enough if you’re planning on developing your career. The three fastest-emerging languages of global consumers are Russian, Hindi, and Japanese. Studies have found a correlation between learning languages and problem-solving abilities, intelligence, and memory skills.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <h4>Language Skills</h4>
                <ul>
                    <li><i>Bangali — Native/Bilingual (ILR Level 5)</i></li>
                    <li><i>Spanish — Native/Bilingual (ILR Level 5)</i></li>
                    <li><i>French — Professional Proficiency (ILR Level 4+)</i></li>
                    <li>English — Professional Working Proficiency (ILR Level 3)</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <h4>Certifications</h4>
                <ul>
                    <li><i>Certified Construction Manager, Construction Manager Certification Institute, 2018</i></li>
                    <li><i>Certified Construction Professional, Management Science Institute, 2015</i></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
            <span class="border-top border-secondary">Signature By</span>
            </div>
            <div class="text-center"><a href="#" class="btn btn-primary rounded-pill px-4">Download CV
                <i class="fa-solid fa-download ms-2"></i></a></div>
        </div>
    </div>
</section>
{% endblock content %}